<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Ush — Url Shortener</title>

<link rel="icon" href="/static/icons/ush512.png">

<link rel="stylesheet" href="/static/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

	<body>
        <div style="width: 100%; padding: 2.5rem; margin-top: 20vh; max-width: 700px; justify-content: center; border: 0.125rem solid var(--border-color); background-color: var(--panel-bg); box-shadow: 0 4px 30px var(--shadow-color); border-radius: 1.25rem;">
            
            <div style="flex-direction: row; align-self: start;">
                <div style="width: 3.5rem; aspect-ratio: 1/1;">
                    <img id="main-icon" src="/static/icons/ush512.png" style="height: 100%;">
                </div>

                <h1>USh</h1>
            </div>
            <div>
                <h1 style="font-size: 8rem; margin: 0">404</h1>
                <h2>Requested page is not found</h2>
                <a style="font-size: 1.12rem;" href="/">Go back to main page</a>
            </div>

           
            </div>


        </div>

         <footer>
            <p style="text-align: center; margin: 0.35em;">USh 0.1-rc2</p>
        </footer>


	</body>




</html>